snippet TempDefault 
\documentclass[10pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage[french,english]{babel}
\usepackage[T1]{fontenc}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{amssymb}
\begin{document}
$0
\end{document}
endsnippet
